@import './variables.css';
@import './layout.css';
@import './components.css';

.btn-primary {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}
.btn-primary:hover {
  background-color: var(--color-primary-hover) !important;
  border-color: var(--color-primary-dark) !important;
}

.form-control-lg { font-size: 1rem !important; }