/* переменные (цвета, размеры)*/

:root {
  /* Цвета */
  --color-primary: #0d6efd;
  --color-primary-hover: #0b5ed7;
  --color-primary-dark: #0a58ca;
  --color-secondary: #6c757d;
  --color-dark: #495057;
  --color-dark-hover: #5a6268;
  --color-light: #f8f9fa;
  --color-light-hover: #e9ecef;
  --color-border: #dee2e6;
  --color-text: #212529;
  
  /* Размеры */
  --header-height: 56px;
  --channel-height: 28px;
  --input-height: 38px;
  --button-size: 38px;
  --channel-button: 28px;
  
  /* Тени */
  --shadow-sm: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
}